@import url("./markdown-editor.css");
@import url("./markdown.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply rounded-lg border border-gray-400 text-sm placeholder:text-sm
    focus-visible:outline focus-visible:outline-2 focus-visible:outline-transparent
    aria-[invalid]:border-red-800 aria-[invalid]:placeholder-red-300 aria-[invalid]:caret-red-500
    aria-[invalid]:focus-visible:border-red-500 aria-[invalid]:focus-visible:outline-red-500
    dark:border-transparent dark:bg-gray-700/50;
  }

  input[type="email"] {
    @apply w-full px-3 py-1.5;
  }

  input[type="text"] {
    @apply w-full px-3 py-1.5;
  }

  input[type="url"] {
    @apply w-full px-3 py-1.5;
  }

  input[type="password"] {
    @apply w-full px-3 py-1.5;
  }

  input[type="checkbox"] {
    @apply h-4 w-4 appearance-none accent-yellow-500 checked:border-0 checked:bg-yellow-500;
  }

  input[type="checkbox"]:checked {
    @apply bg-checked;
  }

  textarea {
    @apply w-full rounded-lg border border-gray-400 px-3 py-1.5
    text-sm placeholder:text-sm
    focus-visible:outline focus-visible:outline-2 focus-visible:outline-transparent
    aria-[invalid]:border-red-800 aria-[invalid]:placeholder-red-300 aria-[invalid]:caret-red-500
    aria-[invalid]:focus-visible:border-red-500
    aria-[invalid]:focus-visible:outline-red-500 dark:border-transparent dark:bg-gray-700/50;
  }

  label {
    @apply text-sm font-medium text-gray-700 dark:text-gray-400;
  }
}

@layer components {
  .btn-secondary {
    @apply rounded-lg border border-gray-300 bg-white px-3 py-1 text-sm focus-visible:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500 enabled:hover:bg-gray-100 disabled:opacity-50 dark:border-transparent dark:bg-gray-700 dark:text-white dark:focus-visible:bg-gray-600 dark:enabled:hover:bg-gray-600;
  }

  .btn-transparent {
    @apply rounded-lg border border-transparent bg-transparent px-3 py-1 text-sm focus-visible:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500 enabled:hover:bg-gray-100 disabled:opacity-50 dark:text-white dark:focus-visible:bg-gray-600 dark:enabled:hover:bg-gray-600;
  }

  .btn-danger {
    @apply rounded-lg border border-transparent bg-transparent px-3 py-1 text-sm font-medium text-red-500 focus-visible:bg-red-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500 enabled:hover:bg-red-800 enabled:hover:text-white disabled:opacity-50 dark:text-red-600 dark:focus-visible:bg-red-600 dark:enabled:hover:bg-red-700 dark:enabled:hover:text-white;
  }

  .btn-bordered {
    @apply rounded-lg border border-gray-300 bg-transparent px-3 py-1 text-sm focus-visible:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500 enabled:hover:bg-gray-100 disabled:opacity-50 dark:border-gray-700 dark:text-white dark:focus-visible:bg-gray-600 dark:enabled:hover:bg-gray-600;
  }
}

@layer utilities {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-default::-webkit-scrollbar {
    display: block;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-default {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }

  .overflow-touch {
    -webkit-overflow-scrolling: touch;
  }
}
